# Django Settings
SECRET_KEY=nnskvnpfv5vd1vd6vdvksdvd665156
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,thc-1.onrender.com

# Database Configuration
# For production (PostgreSQL)
DATABASE_URL=postgresql://thc_db_user:ULzyd2RToYcaUoMIRhfOQRBl3MZGY9Oe@dpg-d25pe8ndiees73eogl8g-a:5432/thc_db

# For development (SQLite) - comment out DATABASE_URL above and uncomment below
# DATABASE_URL=

# Logging
DJANGO_LOG_LEVEL=INFO

# Additional Production Settings (optional)
# EMAIL_HOST=smtp.gmail.com
# EMAIL_PORT=587
# EMAIL_USE_TLS=True
# EMAIL_HOST_USER=your-email@gmail.com
# EMAIL_HOST_PASSWORD=your-app-password




pip install -r requirements.txt && 
python manage.py collectstatic --noinput && 
python manage.py migrate && 
echo "from django.contrib.auth import get_user_model; User = get_user_model(); User.objects.filter(username='admin').exists() or User.objects.create_superuser('admin', 'admin@gmail.com', 'Njtn2002.')" | python manage.py shell

